* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --main-color: #468faf;
}

@font-face {
  font-family: digital;
  src: url(/font/digital.regular.ttf);
}

body {
  background-color: #ececec;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 450px;
  height: 500px;
  border-radius: 20px;
  padding: 20px 20px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}

h1,
h3 {
  margin: 0 auto;
}

.header {
  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
  text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4),
    8px 8px 12px rgba(0, 0, 0, 0.08);
  caret-color: #262626;
  outline: none;
}

.level-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

input[type='radio'] {
  appearance: none;
  position: relative;
  height: 40px;
  width: 120px;
  box-shadow: -8px -3px 12px 0px rgb(255 255 255 / 55%),
    10px 10px 15px rgb(70 70 70 / 12%);
  border: 5px solid #ececec;
}

/* input[type='radio']:checked,
a:active {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.55),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
} */

input[type='radio']:after {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #606060;
  letter-spacing: 0.5;
  font-size: 16px;
  font-weight: 600;
}

.easy:after {
  content: 'easy';
}
.medium:after {
  content: 'medium';
}
.hard:after {
  content: 'hard';
}

/* input[type='radio']:checked:after {
  color: var(--main-color);
} */

.levels {
  border-radius: 30px;
  cursor: pointer;
}

.timer {
  font-family: digital;
  font-size: 30px;
  margin-right: 7px;
}

.game-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.info {
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 7px;
  background-color: var(--main-color);
  color: #ececec;
  box-shadow: inset 0px 0px 8px 1px rgb(0 0 0 / 25%),
    -8px -8px 12px 0 rgb(255 255 255 / 30%);
}

.restart-button {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 25px;
  align-self: center;
  line-height: 0%;
  background-color: transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  transition: font-size 0.2s;
  transition: left 0.2s;
  cursor: pointer;
}

.restart-button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.restart-button:active {
  outline: none;
  border: none;
  font-size: 30px;
  right: 3px;
}

.table-div {
  height: 300px;
  display: flex;
  justify-content: center;
}

table {
  display: inline-block;
  align-self: center;
  border-collapse: collapse;
  border: 2px solid var(--main-color);
  max-width: 400px;
  max-height: 350px;
}

table img {
  background: transparent;
}

td {
  padding: 0px;
  /* width: 28px; */
  /* height: 28px; */
}

.cell {
  background-color: #ccd5ae;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  width: 28px;
  height: 28px;
  max-height: 40px;
  font-weight: bold;
  background-color: var(--main-color);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.cell img {
  height: 100%;
}

.cell:hover {
  background-color: #fefae0;
}

.dark {
  background-color: var(--main-color);
}

.bright {
  background-color: #a9d6e5;
}

.show-dark {
  background-color: #bdc4ca;
}

.show-bright {
  background-color: #dee2e6;
}

footer {
  position: absolute;
  color: var(--main-color);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 400px;
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
